.blog-list{

}
.blog-post{
  width: 100%;

}
.blog-info {
   text-align: justify;
   >h2,h6 {
     text-align: left;
   }
   >p {
     text-align: left ;
   }
 }
p {
  color: #4cae4c;
  text-align: left;
}